@*@model MVCTutorail.Models.Employee

@{
    ViewBag.Title = "Employee Details";
}

<h2>Employee Details</h2>

<table style="font-family:Arial">
    <tr>
        <td>Employee ID: </td>
        <td> @Model.EmpID</td>
    </tr>

    <tr>
        <td>Employee Name: </td>
        <td> @Model.EmpName</td>
    </tr>
    <tr>
        <td>Employee City: </td>
        <td> @Model.City</td>
    </tr>
    <tr>
        <td>Employee DeptID: </td>
        <td> @Model.DeptID</td>
    </tr>
</table>
@Html.ActionLink("Back to Employee List", "Index");*@

